<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings file="../../src/User.config">
	<!-- select '<add key="' + [key] + '" value="' + value + '" />' from configurationsetting -->
	<!-- <add key="ConfigurationProvider" value="Cortside.Core.Configuration.ChainedConfigurationProvider, Cortside.Core.Configuration" /> -->
	<add key="ConnectionString" value="data source=.; initial catalog=CortsideCore; user id=sa; password=password;" />
	<add key="SqlConfigurationProvider.CacheTimeout" value="1" />
    </appSettings>
</configuration>